.PlayButton-Container{
  background-color: var(--secundary-color);
  width: 320px;
  height: 80px;

  border-radius: 20px;

  display:flex;
  justify-content: space-around;
  align-items: center;
  
}


/* .PlayButton-Icon-Container{ */
/*   width: 30px; */
/*   height: 30px; */
/* } */

.PlayButton-Icon{
  width: 30px;
  height: 30px;
  color: #fff;
}

.PlayButton-Container h2{
  font-family: var(--primary-font);
  color: #fff;
}


