.Login-Container{
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--primary-color);
}

.Login-Header{
  color: #fff;
  font-family: var(--primary-font);
  font-size: 25px;
}


.Login-Form{
  margin: 25px 0;
  padding: 10px;
  width: auto;

  display: flex;

}

.Login-form-button{
  border-radius: 10px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.Login-Footer{
  color: #fff;
  font-family: var(--primary-font);

}

.ant-input-affix-wrapper {
  border-radius: 6px;
  margin-bottom: 15px;
}