.InfoBox-Container{
  min-width: 90px;
  height: 45px;
  padding: 2px 5px;

  background-color: #fff;

  font-size: 17px;
  font-family: var(--secundary-font);
  font-weight: 300;
  color: rgb(66, 66, 66);
 
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  -webkit-box-shadow: 7px 3px 15px -2px #414141; 
  box-shadow: 7px 3px 15px -2px #414141;
  
}

.InfoBox-icon{
  height: 23px;
  width: 23px;
  margin: 0 10px 0 0 ;

}
