.MainPage-Containter{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  
  background: var(--default-background);
}

.MainPage-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  width: 500px;
  position: relative;
}

.MainPage-header-infobox{
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
}

.MainPage-Buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.MainPage-buttons-Friend{
 margin-bottom: 25px; 

}

.mainPage-logout-button{
  width: 30px;
  height: 30px;

}

.mainPage-logout-button:hover{
  cursor: pointer;;
}

.mainPage-podium-button-Container,
.mainPage-comunity-button-Container{
  width: 70px;
  height: 45px;

  background-color: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
  -webkit-box-shadow: 7px 3px 15px -2px #414141; 
  box-shadow: 7px 3px 15px -2px #414141;
} 

.mainPage-comunity-button-Container{
  position: absolute;

  right: 0;
  top: 200px;
} 

.mainPage-podium-button-Container{
  position: absolute;
  right: 0;
  top: 280px;
} 

.mainPage-ComunityButton-icon{
  height: 50px;
  width: 50px;
}

.mainPage-podiumButton-icon{
  height: 36px;
  width: 36px;
}

@media only screen and (max-width: 700px){
  .mainPage-comunity-button-Container{
    position: absolute;

    right: 5px;
    bottom: 70%
  } 

  .mainPage-podium-button-Container{
    position: absolute;

    right: 5px;
    bottom: 60%
  } 

  .MainPage-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
  
  }

  .mainPage-logout-button{
    margin-right: 10px;
  }
}

