.answer-button-container{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.answer-button{
  max-width: 600px;
  min-width: 600px;
  min-height: 80px;

  background-color: #fff;
  margin-bottom: 10px;
  border: 0;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 5px 9px;

  color: #000;
  font-family: var(--secundary-font);
  font-weight: bold;
  font-size: 20px;
}

.answer-correct{
  background-color: var(--green);
}

.answer-wrong{
  background-color: var(--red);
}

.answer-button:hover{
  cursor: pointer;
  background-color: var(--secundary-color);
}

.answer-button-selected{
  background-color: var(--secundary-color);
}

.answer-owner-avatar{
  position: absolute;
  left: -13px;
}

.answer-opponent-avatar{
  position: absolute;
  right: -13px;
}

@media only screen and (max-width: 900px){

  .answer-button{
    width: 95%;
    min-height: 60px;
    font-size: 16px;

    max-width: 300px;
    min-width: 300px;
  }

  .answer-owner-avatar{
    left: 0;
  }
  
  .answer-opponent-avatar{
    right: 0;
  }

}
