.Avatar-Container{
  width: 300px;
  height: 205px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Avatar-Image-Container{
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #fff;

  border: 5px solid #fff;
}

.Avatar-image{
  width: auto;
  height: 100%
}


.Avatar-Username{
  font-family: var(--primary-font);
  font-size: 26px;
  color: #fff;
}
