.ant-modal-content,
.ant-modal-header {
  background-color: var(--primary-color-hover);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
}

.ant-modal-title {
  font-family: var(--primary-font);
  color: #fff;

}

.ant-modal-body {
  background: var(--default-background);
  color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;


  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.matchInvite-challenger-info {
  display: flex;
  width: 90%;

  padding: 5px;
}

.matchInvite-challenger-description {
  font-family: var(--secundary-font);

  margin-left: 10px;
}

.matchInvite-trophy-section {
  display: flex;
  align-items: center;
}

.matchInvite-trophy-section h2 {
  margin-left: 7px;
  color: var(--secundary-color);

}

.matchInvite-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.matchInvite-deny,
.matchInvite-accept {
  width: 150px;
  height: 60px;

  font-family: var(--primary-font);
  color: #fff;

  border: 0;
  border-radius: 5px;
}

.matchInvite-accept {
  background: var(--green);
}

.matchInvite-deny {
  background: var(--red);
}

.matchInvite-accept:hover {
  background: var(--green-hover);
  cursor: pointer;
}

.matchInvite-deny:hover {
  background: var(--red-hover);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .ant-modal-body {
    padding: 10px;
  }

  .matchInvite-buttons {
    width: 100%;

  }

  .matchInvite-deny,
  .matchInvite-accept {
    width: 150px;
    height: 50px;
  }
}