.listitem-container{

  width: 100%;
  height: 47px;
  margin-bottom: 10px;
  border-radius: 5px;

  display: flex;
  align-items: center;

}

.listitem-container:hover{

  background-color: var(--primary-color-hover);
  border: 1px solid var(--primary-color);
}

.listitem-key{

  font-family: var(--secundary-font);
  font-weight: bold;
  padding: 2px 5px;
  margin-left: 10px;
  margin-right: 10px;

}

.listitem-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  padding: 0 15px 0 0;

}

.listitem-avatar-username{
  display: flex;
  align-items: center;
  justify-content: space-around;

}


.listitem-avatar-username h4{
  font-family: var(--secundary-font);
  margin-left: 6px;
  margin-top: 2px;
  align-self: flex-start;

}

.listitem-trophies{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.listitem-trophy-icon{
  width: 12px;
  height: 12px;
  margin: 0;
  margin-left: 5px;
}

.listitem-trophies p{
  margin-left: 2px;
  font-family: var(--secundary-font);
  color: var(--secundary-color);
  font-size: 14px;
}

.listitem-invitebutton {
  border: 0;
  background-color: #79d70f;
  color: #fff;
  font-family: var(--primary-font);
  padding: 6px;
  border-radius: 6px;

}
.listitem-invitebutton:hover{
  background-color: #56990B;
  cursor: pointer;
}


